body {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

ul {
    list-style: none;
    padding: 0;
}

b {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    display: inline-block;
}

a {
    text-decoration: none;
    outline: none;
    color: #5e81a8;
}

small {
    font-size: 0.5em;
    font-weight: 400;
}

.page {
    text-align: center;
}

.wrapper-title {
    background-color: #5e81a8;
    color: #f8f8f8;
    min-height: 50px;
}

.content {
    padding: 5px 25px;
}

.header {
    min-height: 120px;
    padding: 5px 25px;
}

.room-name {
    display: inline-block;
    padding: 7px 15px;
    background-color: #f8f8f8;
}

.responsive {
    min-height: 0.01%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0 0 15px 0;
}

.custom-select {
    padding: 10px 5px 10px 10px;
    font-size: 1.1em;
    background: #5e81a8;
    color: #f8f8f8;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:active, .btn:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 7px 15px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin: 5px 10px;
}

.btn-vk-ui:active, .btn-vk-ui:hover {
    background-color: #688bb0;
}

.btn-vk-ui {
    letter-spacing: 0.1px;
    color: #fff;
    background: #5e81a8;
    border-radius: 2px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 0.8125em;
}

#select-time {
    display: table;
    position: relative;
}

#select-time li:hover {
    background-color: #d9e2ec;
}

#select-time li {
    display: table-cell;
    min-width: 70px;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #5e81a8;
}

.red {
    color: #a13532;
    border-bottom: 1px solid #a13532!important;
}

.disabled {
    background-color: antiquewhite;
}

.hidden {
    display: none;
}